{% extends 'userbase.html'%}
{% load static %}
{% block contents %}


 <div class="hero-content-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h4></h4>
                                <!--<h3>BookVendor <br/>Login</h3>-->
                            </header><!-- .entry-header -->

                            <div class="entry-content">

                                <h1><p>Welcome to User Page</p></h1>

                                <!--<p>of Book Reviews using Unsupervised Semantic Orientation and Supervised Machine Learning Approaches</p>-->
                            </div><!-- .entry-content -->

                            <!--<footer class="entry-footer read-more">
                                <a href="#">read more</a>
                            </footer>--><!-- .entry-footer -->
                        </div><!-- .hero-content-wrap -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .hero-content-hero-content-overlay -->
    </div><!-- .hero-content -->


{% endblock %}